<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="visidea" translate="label" sortOrder="9999">
            <label>Visidea</label>
        </tab>
        <section id="inferendo_visidea" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>visidea</tab>
            <resource>Inferendo_Visidea::refresh_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Visidea settings</label>
                <field id="label" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Inferendo\Visidea\Block\Adminhtml\System\Config\Field\Instructions</frontend_model>
                </field>
                <field id="website" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Website</label>
                   <validate>validate-no-empty</validate>
               </field>
               <field id="public_token" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Public token</label>
                   <validate>validate-no-empty</validate>
               </field>
                <field id="private_token" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Private token</label>
                   <validate>validate-no-empty</validate>
               </field>
                <field id="items_export_csv" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Inferendo\Visidea\Block\Adminhtml\System\Config\Field\ItemsExport</frontend_model>
                </field>
                <field id="customer_export_csv" translate="label" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Inferendo\Visidea\Block\Adminhtml\System\Config\Field\CustomerExport</frontend_model>
                </field>
                <field id="export_csv" translate="label" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Inferendo\Visidea\Block\Adminhtml\System\Config\Field\InteractionExport</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
